UUID={{ forgejo_UUID }}
UGID={{ forgejo_UGID }}
DB_TYPE={{ forgejo_db_type }}
DB_HOST={{ forgejo_db_host }}
DB_NAME={{ forgejo_db_name }}
DB_USER={{ forgejo_db_user }}
DB_PASSWD={{ forgejo_db_password }}
HTTP_ADD={{ forgejo_http_add }}
URL={{ forgejo_url }}
