DATABASE_URL={{ vaultwarden_database_url }}

SIGNUPS_ALLOWED={{ vaultwarden_signups_allowed | default('false') }}
SHOW_PASSWORD_HINT={{ vaultwarden_show_password_hint | default('false') }}
EMAIL_CHANGE_ALLOWED={{ vaultwarden_email_change_allowed | default('false') }}

ORG_EVENTS_ENABLED={{ vaultwarden_org_events | default('true') }}
ORG_GROUPS_ENABLED={{ vaultwarden_org_groups | default('true') }}
INVITATION_ORG_NAME={{ organization_name | default('') }}

SMTP_HOST={{ smtp_host }}
SMTP_FROM={{ smtp_from_address }}
SMTP_FROM_NAME={{ organization_name | default("Vaultwarden") }}
SMTP_PORT={{ smtp_port | default('587') }}
SMTP_SECURITY={{ smtp_security | default('starttls') }}
SMTP_USERNAME={{ smtp_username }}
SMTP_PASSWORD={{ smtp_password }}
SMTP_EMBED_IMAGES=true
SMTP_AUTH_MECHANISM=Plain

SIGNUPS_DOMAINS_WHITELIST={{ vaultwarden_allowed_domains | default('') }}
ADMIN_TOKEN={{ vaultwarden_admin_token }}

PUSH_ENABLED={{ vaultwarden_push_enabled | default('false') }}
PUSH_INSTALLATION_ID={{ vaultwarden_push_id | default('CHANGEME') }}
PUSH_INSTALLATION_KEY={{ vaultwarden_push_key | default('CHANGEME') }}
PUSH_RELAY_URI=https://push.bitwarden.com
PUSH_IDENTITY_URI=https://identity.bitwarden.com

# Features
SENDS_ALLOWED={{ vaultwarden_sends_allowed | default('true') }}
EMERGENCY_ACCESS_ALLOWED={{ vaultwarden_emergency_access | default('true') }}
